h3{
  font-style: italic;
  margin-top: 0;
}

h1{
  margin-bottom: 0;
}

.byline{
  font-size: 10px;
  color: gray;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
}

h4{
  font-size: 20px;
  margin-bottom: 0;
}

a{
  color: #BF5700;
}

p{
  margin-top: 0;
}

.first-story{
  background-color: #d3d3d3;
  padding: 7px;
}

.first-story h4{
  font-size: 30px;
}

.first-story .byline{
  font-size: 15px;
}
